*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 1024px;
    margin:auto;
    position:relative;
}
header{
    width: 1024px;
    height: 50px;
    position:relative;
    margin-bottom: 10px;
    background: tomato;
}
section.slide{
    height: 400px;
    background: teal;
    position: relative;
}
nav{
    height: 50px;
    background: aquamarine;
    position: relative;
    border-top: 1px solid black;
}
div{
    width: 167px;
    height: 217px;
    position: relative;
    margin-right: 3px;
    margin-bottom: 10px;
    background: teal;
}
section div:nth-child(1){
    float: left;
}
section div:nth-child(2){
    float: left;
}
section div:nth-child(3){
    float: left;
}
section div:nth-child(4){
    float: left;
}
section div:nth-child(5){
    float: left;
}
section div:nth-child(6){
    float: right;
}
footer{
    height: 50px;
    margin: auto;
    position:relative;
    background: aquamarine; 
    clear: both;
}
